# Ignore node_modules folder
node_modules/

# Ignore build outputs
dist/

# Ignore TypeScript compiled output
*.tsbuildinfo

# Ignore log files
npm-debug.log*

# Ignore system files (Mac/Linux)
.DS_Store

# Ignore local environment config files
.vscode/
.idea/
*.swp

# Ignore coverage directory (if using testing with coverage)
coverage/

.npmrc